In [22]:
from pybaseball import standings
import pandas as pd

In [23]:
# import regular-season-futures-selections.csv as pandas data frame
selections = pd.read_csv('regular-season-futures-selections.csv')
selections

   player                 team  inverted
0     Tom       Tampa Bay Rays     False
1     Tom      Minnesota Twins     False
2     Tom   Los Angeles Angels     False
3     Tom      Cincinnati Reds      True
4     Tom     San Diego Padres     False
5    Will    Toronto Blue Jays     False
6    Will  Cleveland Guardians     False
7    Will       Houston Astros     False
8    Will  St. Louis Cardinals     False
9    Will     Colorado Rockies      True
10    Dad     New York Yankees     False
11    Dad   Kansas City Royals      True
12    Dad     Seattle Mariners     False
13    Dad    Milwaukee Brewers     False
14    Dad  Los Angeles Dodgers     False

In [36]:
# collapse data into one dataframe
df = pd.concat(standings(2023)).sort_values(by=['W-L%'], ascending=False).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     object
 2   L       30 non-null     object
 3   W-L%    30 non-null     object
 4   GB      30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [42]:
# join standings and df by team name
results = selections.join(df.set_index('Tm'), on='team')
# add points column to results, equal to wins if inverted is false and loss if inverted is true
results['points'] = results.apply(lambda x: x['L'] if x['inverted'] else x['W'], axis=1).astype(int)
# convert points to integer
results.sort_values(by=['points'], ascending=False).reset_index(drop=True)

   player                 team  inverted   W   L  W-L%    GB  points
0     Dad   Kansas City Royals      True  28  71  .283  23.0      71
1     Tom       Tampa Bay Rays     False  61  40  .604    --      61
2    Will     Colorado Rockies      True  38  59  .392  18.5      59
3     Dad  Los Angeles Dodgers     False  56  40  .583    --      56
4    Will       Houston Astros     False  55  43  .561   3.0      55
5    Will    Toronto Blue Jays     False  54  44  .551   5.5      54
6     Dad    Milwaukee Brewers     False  54  44  .551    --      54
7     Tom      Minnesota Twins     False  51  48  .515    --      51
8     Dad     New York Yankees     False  51  47  .520   8.5      51
9     Tom   Los Angeles Angels     False  50  48  .510   8.0      50
10    Dad     Seattle Mariners     False  49  48  .505   8.5      49
11   Will  Cleveland Guardians     False  48  49  .495   2.0      48
12    Tom     San Diego Padres     False  47  51  .480  10.0      47
13    Tom      Cincinnati Reds      True  53  46  .535   1.5      46
14   Will  St. Louis Cardinals     False  44  54  .449  10.0      44

In [41]:
# summarize results by player and sum points sort by points descending
results.groupby(['player'], as_index=False)['points'].sum().sort_values(by=['points'], ascending=False).reset_index(drop=True)

  player  points
0    Dad     281
1   Will     260
2    Tom     255